@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="px-4 py-2" style="background-color: #4CAF50; color: white;">
            <h3>To-Do List Application</h3>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

